.slider 
{
    width: 100%;
    margin-top: 10px;  
    margin-bottom: 30px;
}


.slides  
{
    width: 1248px;
    height: 462px;
    /* overflow: hidden; */
    position: relative;
    display: block; 
    margin: -62px auto 0 auto;
}

.slides ul {
    list-style:none;
    position:relative;
}

@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:1;
    }
    
    40% {
        opacity: 1;        
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }
    100% {
        opacity:0;
    }
}

@-moz-keyframes anim_slides 
{
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

.slides ul li {
    opacity:0;
    position:absolute;
    top:0;

    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 8.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_slides;
    -moz-animation-duration: 8.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
    -webkit-animation-delay: 4.0s;
    -moz-animation-delay: 6.0s;
}


.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
    -webkit-animation-delay: 8.0s;
    -moz-animation-delay: 10.0s;
}


.crumbs
{
    width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
    text-decoration: underline;
}

.product
{
    width: 250px;
    height: 380px;
    background-color: #dcdcdc;
     margin-left: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;   
    padding: 20px 20px 14px 20px; 
     
}

.text_product 
{
    color: #767676;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    margin-top: 21px;
}

.product_img
{
    width: 210px;
    height: 209px;
    box-sizing: border-box;
}

.number_pages 
{
  width: auto;

}

.number_pages ul
{
    text-align: center;  
}

.number_pages li
{
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   color: #767676;
   font-size: 14px;
   font-family: "PT Sans";
   font-weight: 400;
   font-style: normal;
   letter-spacing: normal;
   line-height: 22px;

}

.number_block
{
    width: auto;
    padding-left: 10px;
    padding-right: 10px; 
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

}

.number_block span 
{
    font-size: 18px;
}

.line_block
{
    width: 1000px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
}

.line
{
    height: 1px;
    width: auto;
    background-color: black;
    margin-bottom: 29px;
    margin-left: 15px;
} 


.catalog div span 
{
    color: #444444;
    font-family: "PT Sans";
    font-size: 28px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    margin-right: auto;
}

.basket
{  
    margin-left: auto;
}

.f 
{
    display: flex;
    margin-top: auto;
}

main 
{
    width: 980px;
    margin: 27px auto 0px auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;

}

.content
{
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
   
}

.menu_catalog
{
    width: 165px;
    word-wrap: break-word;

}
.left
{
    min-width: 165px;
    display: flex;
    padding-left: 0px;
    flex-direction: column;
    margin-top: 26px;
    margin-bottom: 50px;
    background-color: brown;
    
    
}

.catalog
{   

    width: auto;
    display: flex;
    flex-wrap: wrap; 
}

.text_block
{
    width: auto;
}

.text_content
{
    width:100%; 
    column-count: 2; 
    -moz-column-count: 2; 
    -webkit-column-count: 2; 
    column-gap: 40px; 
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    color: #767676;
    font-family: "PT Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 22px;
    margin-left: 15px;
}

.menu_catalog li {

    color: #767676;
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    list-style-type: none;
    /* display: none; */
}

/* .menu_catalog li:hover
{
    text-decoration: underline; 
} */


.menu_catalog ul li a 
{
    text-decoration: none;
}
.menu_catalog li > ul li a
{ 
    text-decoration: none;
}

.menu_catalog li ul 
{ 
    display: none;
}

.menu_catalog li ul li
{
    list-style-type: disc;
    color: #767676;
}

.menu_catalog li:hover > ul 
{
    display: block;
}

.menu_catalog a:hover {
    text-decoration: underline;
    color: black;
}

.menu_catalog li ul li 
{
    color: #767676;    
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 22px;
    font-family: "PT Sans";
}

.menu_catalog ul 
{ 
    padding-left: 0px;
}
.menu_catalog ul li ul
{
 padding-left: 30px;
}
